<div class="container">GALLERI HER

  <!-- <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngx-item>
      <div class="frame">
        <img class="gallery-image" [src]="'../../../assets/01.jpeg'">
      </div>
    </ngx-item>
    <ngx-item>
      <div class="frame">
        <img class="gallery-image" [src]="'../../../assets/02.jpeg'">
      </div>
    </ngx-item>
    <ngx-item>
      <div class="frame">
        <img class="gallery-image" [src]="'../../../assets/03.jpeg'">
      </div>

    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel> -->
</div>