<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Kontakt</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>
          <code>bla bla bla</code>BLA</mat-card-title>
        <mat-card-subtitle>
          Super sejt hejs
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/angular/angular" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>