<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Kontakt</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>KONTAKT</mat-card-title>
        <mat-card-subtitle>
          Kontak mig for mere information
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="mailto:troelsvandyhr@gmail.com" target="_blank">
            <i class="fa fa-mail fa-lg"></i> Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>