<mat-sidenav-container class="all-wrap" fullscreen>

  <mat-sidenav #sidenav mode="push" class="mat-drawer-content mat-sidenav-content ng-star-inserted">
    <div class="branding">
      <img [src]="logo" style="width:50px; height:50px;" />
    </div>
    <mat-nav-list>
      <ng-container *ngFor="let item of (navigationSideMenu$|async).items">
        <mat-list-item *ngIf="item.link && !item.children">
          <a matLine (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">{{item.label}}</a>
        </mat-list-item>

        <ng-container *ngIf="item.children && item.children.length > 0">
          <mat-list-item>
            <a matLine (click)="sidenav.close()" [routerLink]="['/gallery', item.children[0].link]" routerLinkActive="active" class="mat-body-1">{{item.label}}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <ng-container *ngFor="let child of item.children">
              <mat-list-item *ngIf="child.link && !child.children">
                <a matLine (click)="sidenav.close()" [routerLink]="['/gallery', child.link]" routerLinkActive="active">
                  {{child.label}}
                  <mat-icon>photo_library</mat-icon>
                </a>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </ng-container>
        <!-- <button mat-icon-button (click)="showInfo(link)">
            <mat-icon>info</mat-icon>
          </button> -->

      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <!-- <header role="banner">
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        Your Toolbar
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer>
      Your sticky footer with a variable height.
    </footer> -->




    <mat-toolbar color="primary" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.lt-sm="space-between center">
      <button mat-icon-button fxHide.gt-xs="true" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span fxLayout="row" routerLink="" class="branding spacer text-center" fxLayoutAlign.lt-sm="center center" fxLayoutAlign.gt-xs="start center">
        <img [src]="logo" style="width:50px; height:50px;" />&nbsp;Troels Dyhr Fotografi</span>


      <span fxHide.lt-sm="true">
        <button mat-button class="nav-button" *ngFor="let item of (navigationSideMenu$|async).items" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
      </span>

    </mat-toolbar>

    <main class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </main>

    <div class="footer" fxLayoutAlign="center center">
      <span class="signature">
        <a href="#">asdasdad</a>
        &#169; {{year}} - NHIT IVS
      </span>
    </div>

  </div>

</mat-sidenav-container>