$td-primary: mat-palette($mat-orange, 800, 300, 900);
$td-accent: mat-palette($mat-light-blue);
$td-warn: mat-palette($mat-deep-orange, A200);

$td-theme: mat-light-theme($td-primary, $td-accent, $td-warn);
