.picture-frame {
  padding: 5px;
  margin-bottom: 10px;
  img {
    margin: 0px;
  }
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100vh;
  width: 100%;
}
.search-form {
  width: 90%;
}
mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-card-image {
  width: 100%;
}

.album-header {
  height: 200px;
}

.gallery-row {
  min-height: 220px;
}
